<div class="saBoard" layout="column">
    <div class="board" layout="column">
        <div layout="row">
            <div layout="column">
                <sa-board-tile value=""></sa-board-tile>
            </div>
            <div layout="column">
                <sa-board-tile value=""></sa-board-tile>
            </div>
            <div layout="column">
                <sa-board-tile value=""></sa-board-tile>
            </div>
        </div>
        <div layout="row">
            <div layout="column">
                <sa-board-tile value=""></sa-board-tile>
            </div>
            <div layout="column">
                <sa-board-tile value=""></sa-board-tile>
            </div>
            <div layout="column">
                <sa-board-tile value=""></sa-board-tile>
            </div>
        </div>
        <div layout="row">
            <div layout="column">
                <sa-board-tile value=""></sa-board-tile>
            </div>
            <div layout="column">
                <sa-board-tile value=""></sa-board-tile>
            </div>
            <div layout="column">
                <sa-board-tile value=""></sa-board-tile>
            </div>
        </div>
    </div>
</div>