@mixin text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@mixin ellipsis ($max-height, $lines: 1) {
    // Fallback for non-webkit browsers.
    // Fallback does not render ellipsis.
    overflow: hidden;
    max-height: $max-height;
    // Webkit solution for multiline ellipsis
    display: -webkit-box;
    box-orient: vertical;
    line-clamp: $lines;
    // Solution for Opera
    text-overflow: -o-ellipsis-lastline;
}
